docker-notes.txt
response.http
README.md

docker-compose.yml
action-runner/
.github
.git
.env

# Exclude locally installed dependencies
node_modules/

# Exclude "build-time" ignore files.
# .dockerignore
# .gcloudignore

# Exclude git history and configuration.
.gitignore